In [4]:
import numpy as np
import thinkstats2

In [5]:
def ReadFemPreg(dct_file = '2002FemPreg.dct',
               dat_file = '2002FemPreg.dat.gz'):
    #returns DataFrame
    dct = thinkstats2.ReadStataDct(dct_file)
    preg = dct.ReadFixedWidth(dat_file, compression = 'gzip')
    return preg

In [6]:
preg = ReadFemPreg()
print(preg.shape)

(13593, 243)

In [7]:
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,poverty_i,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231

In [8]:
preg.agepreg

0        3316.0
1        3925.0
2        1433.0
3        1783.0
4        1833.0
5        2700.0
6        2883.0
7        3016.0
8        2808.0
9        3233.0
10       2575.0
11       2300.0
12       2458.0
13       2983.0
14       2750.0
15       2833.0
16       3033.0
17       1891.0
18       2783.0
19       2791.0
20       3058.0
21       1891.0
22       2708.0
23       2225.0
24       2575.0
25       2941.0
26       3266.0
27       1883.0
28       2083.0
29       2166.0
          ...
13563    2108.0
13564    2333.0
13565    2025.0
13566    3266.0
13567    1675.0
13568    2383.0
13569    1800.0
13570    2441.0
13571    2783.0
13572    3316.0
13573    2225.0
13574    2441.0
13575    1883.0
13576    3166.0
13577       NaN
13578    2400.0
13579    2591.0
13580    2825.0
13581    3066.0
13582    3325.0
13583    2366.0
13584    2691.0
13585    2141.0
13586    2241.0
13587    2341.0
13588    1791.0
13589    1850.0
13590    1975.0
13591    2158.0
13592    2158.0
Name: agepreg, dtype: float64

In [9]:
preg.agepreg /= 100
preg.agepreg.mean()

24.688151197038128

In [10]:
preg.birthwgt_lb.describe()

count    9144.000000
mean        7.431321
std         7.522723
min         0.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        99.000000
Name: birthwgt_lb, dtype: float64

In [11]:
preg.birthwgt_lb.value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
51.0       1
97.0       1
98.0       1
99.0      57
Name: birthwgt_lb, dtype: int64

In [12]:
preg.loc[preg.birthwgt_lb > 20, 'birthwgt_lb'] = np.nan

In [13]:
na_vals = [97, 98, 99]
preg.birthwgt_lb.replace(na_vals, np.nan, inplace=True)
preg.birthwgt_oz.replace(na_vals, np.nan, inplace=True)

In [14]:
preg['totalwgt_lb'] = preg.birthwgt_lb + preg.birthwgt_oz / 16.0

In [15]:
def CleanFemPreg(preg):
    preg.agepreg /= 100
    
    preg.loc[preg.birthwgt_lb > 20, 'birthwgt_lb'] = np.nan
    
    na_vals = [97, 98, 99]
    preg.birthwgt_lb.replace(na_vals, np.nan, inplace=True)
    preg.birthwgt_oz.replace(na_vals, np.nan, inplace=True)

    
    preg.babysex.replace([7.9], np.nan, inpalce=True)
    preg.nbrnaliv.replace([9], np.nan, inplace=True)
    
    preg['totalwgt_lb'] = preg.birthwgt_lb + preg.birthwgt_oz / 16.0
    preg.cmintvw = np.nan

In [17]:
preg.pregordr.value_counts().sort_index()

1     5033
2     3766
3     2334
4     1224
5      613
6      308
7      158
8       78
9       38
10      17
11       8
12       5
13       3
14       3
15       1
16       1
17       1
18       1
19       1
Name: pregordr, dtype: int64

In [21]:
assert len(preg) ==   13593

assert preg.caseid[13592] == 12571
assert preg.pregordr.value_counts()[1] == 5033
assert preg.nbrnaliv.value_counts()[1] == 8981

weights = preg.finalwgt.value_counts()
key = max(weights.keys)